* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primario: #0A1931;
  --color-secundario: #185ADB;
  --color-terciario: #FFC947;
  --color-cuaternario: #FEDDBE;
  
  
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1.1fr 6fr 0.7fr 0.9fr;
  grid-template-areas:
    "nav1"
    "order1"
    "main1"
    "pagina1"
    "footer1";
}
body nav i {
  color: var(--color-cuaternario);
}
.nav1 {
  grid-area: nav1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-primario);
  height: 0.7fr;
}
.nav1 section div  {
  color: var(--color-cuaternario);
}

.title1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0;
}

.nav1 i {
  padding-right: 0.5rem;
  font-size: 1.1rem;
}
.order1 {
  grid-area: order1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:var(--color-terciario);
}
.order1 p {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 1.1rem;
  margin-top: 0.1rem;
  font-weight: 400;
  color: var(--color-primario);
}
article p {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0.5rem;
}

.select-container {
  position: relative;
  width: 70%; /* Ajusta el ancho del input para filtros */
}
.select-container.active .select-options {
  display: block;
}

.select-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border: 1px solid #ccc;
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 2px; /* redondear borde del imput filtro */
}

.select-trigger span {
  font-size: 16px;
  color: #333; /* Color del texto "Precio" */
}

.arrow-icon {
  font-size: 16px;
  color: #888; /* Color de la flecha */
}

.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  display: none; /* Ocultar opciones por defecto */
  z-index: 1;
  border-radius: 5px; /* Opcional: para bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Opcional: para sombra */
}

.select-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.select-options li {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #333; /* Color del texto de las opciones */
}

.select-options li:hover {
  background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}

.main1 {
  display: grid;
  grid-area: main1;
  /* background: var(--color-cuaternario); */
  background: linear-gradient(to top, var(--color-terciario), var(--color-primario)); /* Degradado de izquierda a derecha */

  
  
}
@media (max-width: 576px) {
  .card1:nth-child(n + 2) {
    display: none;
  }
  footer p {
    color: whitesmoke;
  }
  .main1 section p {
    font-family: "Fjalla One", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
}

@media (min-width: 576px) {
  .main1 {
    align-items: center;
    justify-content: flex-start;
    grid-template-columns: repeat(4, 425px);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "card1 card1 card1 car1"
      "card1 card1 card1 car1";
    overflow: auto;
  }
  .select-container {
    position: relative;
    width: 60%; /* Ajusta el ancho según sea necesario */
  }
  .select-trigger {
    padding: 1px 20px;
  }
  .card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;

    box-shadow: 2px 1px 5px black;
    margin: 10px;
  }
  .main1 section article {
    height: 90px;
  }
  .main1 section p {
    font-family: "Fjalla One", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .footer1 p {
    padding-top: 5px;
  }
  .title1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-top: 0rem;
    margin-left: 0rem;
    padding: 0;
  }
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 90%;
  width: 90%;
  box-shadow: 2px 1px 5px black;
  margin: auto;
}
.main1 section p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 100%;
  margin: 0;
  /* background-color: var(--color-cuaternario); */
}
.main1 section article a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--color-primario);
  text-decoration: none;
  color: var(--color-terciario);
  margin: 0.2rem;
  margin-bottom: 0.8rem;
}


.main1 section div img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Elimina el espacio extra debajo de la imagen */
  object-fit: cover;
}
.img1 {
  display: flex;
  flex-direction: column;
  /* flex: 1 0 0; */
  width: 100%;
  max-height: 100%;

  /* background-color: rgba(0, 0, 0, 0.3); */
}
.pagina1 {
  grid: pagina1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primario);
}
.pagination {
  display: flex; /* Para alinear los elementos horizontalmente */
  justify-content: center; /* Para centrar los elementos */
  align-items: center; /* Para centrar verticalmente (opcional) */
  font-size: 0.9rem;
  padding-bottom: 0.7rem;
}

.pagination a {
  color: var(--color-terciario);
  padding: 0.3rem 0.9rem;
  text-decoration: none;
  border: 1px solid #ddd;
  margin: 0 0px;
  border-right: none;
}
.pagination a:first-child {
  border-top-left-radius: 5px; /* Borde redondeado superior izquierdo */
  border-bottom-left-radius: 5px; /* Borde redondeado inferior izquierdo */
}

.pagination a:last-child {
  border-right: 1px solid #ddd; /* Agrega el borde derecho al último elemento */
  border-top-right-radius: 5px; /* Borde redondeado superior derecho */
  border-bottom-right-radius: 5px; /* Borde redondeado inferior derecho */
}

.pagination a.active {
  background-color: var(--color-secundario);
  color: white;
  /* border: 1px solid blue; */
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.footer1 {
  grid-area: footer1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-secundario);
  flex-direction: column;
}
.footer1 p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.1rem;
  margin-bottom: 0rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Espaciado entre los íconos */
  margin-top: 0rem;
}

.social-link {
  color: white; /* Cambia el color según tu diseño */
  font-size: 1.5rem; /* Tamaño de los íconos */
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #007bff; /* Cambia el color al pasar el mouse */
}
.new-list {
  display: flex;
  flex-direction: column;

  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.new-list li {
  margin: 3px 0px;
}
nav div ul li a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del elemento padre */
  font-size: inherit; /* Hereda el tamaño de fuente del elemento padre */
}

@media (max-width: 576px) {
  .new-list {
    display: none;
  }
}
@media (min-width: 576px) {
  body {
    grid-template-columns: 200px 7fr;
    grid-template-rows: 0.7fr 1fr 6fr 0.3fr 0.7fr;
    grid-template-areas:
      "nav1 order1"
      "nav1 main1"
      "nav1 main1"
      "footer1 main1"
      "footer1 pagina1";
  }
  .nav1 {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 1rem;
  }
  nav .icon_bars {
    display: none;
  }

  .social-link {
    font-size: 1rem;
    margin: 0rem;
  }
  .footer1 p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.1;
    max-width: 200px;
    color: whitesmoke;
  }
  .order1 p {
    display: flex;
    align-items: center;
    margin: 0.1rem 0;
    height: 100%;
  }
  .select-container {
    position: relative;
    bottom: 5px;
  }
}
